
@{
    ViewBag.Title = "Sinpermisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<div class="row">
    <div class="note">
        <p><i class='fas fa-desktop' style='font-size:48px'></i>&nbsp;&nbsp;&nbsp; Necesitas permisos para crear contenido aquí...   :(</p>
        <div class="text-center"><img src="~/Images/bloqueado.jpg" class="img-fluid logoMiri" /></div>
    </div>
</div>
