
@{
    ViewBag.Title = "Tema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row" >
    <ul class="breadcrumb" style="background-color: #E7E8E6;">
        <li><a href="#">Temas</a></li>
    </ul>
</div>
<div class="row">
   <div class="col-xxl-5 col-md-4 col-sm-6 col-4" ><form><button type="submit" class="btn btn-secondary btn-block"><i class="fa-solid fa-plus"></i> Agregar tema</button></form></div>
   <div class="col-xxl-2 col-md-4 col-sm-1 col-1" ></div>
   <div class="col-xxl-5 col-md-4 col-sm-5 col-7" >
       <form>
           <div class="input-group mb-3">
               <button class="btn btn btn-light" style="background-color:white;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
               <input type="text" class="form-control" placeholder="Buscar en el repositorio">
           </div>
       </form>
   </div> 
</div>
<div class="row">
    <h2>TEMAS</h2>
    <hr />
</div>
<div class="row scroollDirectory" style=" background-color: #D8D6D6;"> 
    <form>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'"></i> Tema para tener todo separado</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema para tener todo separado</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema para tener todo separado</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema para tener todo separado</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema 1</button>
        <button class="btnDirectory defaultDirectory"><i class='fas fas fa-folder'></i> Tema para tener todo separado</button>
        
    </form>
</div>
