@model MiriWeb.Models.Mtotales
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row text-center titleIndex">
    <p> MI REPOSITORIO INSTITUCIONAL</p>
</div>
<div class="row">
    <div class="col-xxl-3 col-md-3 col-sm-6 col-6">
        <div id="cajaExterna">
            <div id="cajaInterna">
                <div class="cssfolder"><i class='fas fa-folder-open'></i></div>
            </div>
            <div class="cssLabelTitle"><p>TEMAS</p><p>@Model.totalTemas</p></div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-3 col-sm-6  col-6">
        <div id="cajaExterna">
            <div id="cajaInterna">
                <div class="cssfolder"><i class='fas fa-folder-open'></i></div>
            </div>
            <div class="cssLabelTitle"><p>CLASIFICACIONES</p><p>@Model.totalClasif</p></div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-3 col-sm-6  col-6">
        <div id="cajaExterna">
            <div id="cajaInterna">
                <div class="cssfolder"><i class='fas fa-folder-open'></i></div>
            </div>
            <div class="cssLabelTitle"><p>GRUPOS</p><p>@Model.totalGrupos</p></div>
        </div>
    </div>
    @{
        if (Session["perfil"].ToString().Equals("contentAdmin"))
        {
            <div class="col-xxl-3 col-md-3 col-sm-6  col-6">
                <div id="cajaExterna">
                    <div id="cajaInterna">
                        <div class="cssfolder"><i class='fas fa-users'></i></div>
                    </div>
                    <div class="cssLabelTitle"><p>USUARIOS</p><p>@Model.totalUsuarios</p></div>
                </div>
            </div>
        }
    }

</div>
<br />
<br />
<div class="row">
    <div class="note">
        <p><i class='fas fa-desktop' style='font-size:48px'></i>&nbsp;&nbsp;&nbsp; EL SISTEMA DE REPOSITORIO DE ARCHIVOS TE DA LA BIENVENIDA</p>
        <div class="text-center"><img src="~/Images/MiRI_Logo2.png" class="img-fluid logoMiri" /></div>
    </div>
</div>
