@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row text-center" style="font-weight:bold;">
    <h1> MI REPOSITORIO INSTITUCIONAL</h1>
</div>
<div class="row">
    <div class="col-xxl-3 col-md-3 col-sm-6">
        <div id="cajaExterna">
            <div id="cajaInterna">
                <div class="cssfolder"><i class='fas fa-folder-open'></i></div>
            </div>
            <div class="cssLabelTitle"><p>TEMAS</p><p>0</p></div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-3 col-sm-6">
        <div id="cajaExterna">
            <div id="cajaInterna">
                <div class="cssfolder"><i class='fas fa-folder-open'></i></div>
            </div>
            <div class="cssLabelTitle"><p>CLASIFICACIONES</p><p>0</p></div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-3 col-sm-6">
        <div id="cajaExterna">
            <div id="cajaInterna">
                <div class="cssfolder"><i class='fas fa-folder-open'></i></div>
            </div>
            <div class="cssLabelTitle"><p>GRUPOS</p><p>0</p></div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-3 col-sm-6">
        <div id="cajaExterna">
            <div id="cajaInterna">
                <div class="cssfolder"><i class='fas fa-users'></i></div>
            </div>
            <div class="cssLabelTitle"><p>USUARIOS</p><p>0</p></div>
        </div>
    </div>
</div>
