
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.bundle.js"></script>
<link href="~/Content/login.css" rel="stylesheet" />
<link href="~/Content/css/Style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<div>

    <img class="img-fluid" id="logoIRCEP" src="\Images\IRCEP.svg" alt="logoIRCEP">
    <img class="img-fluid" id="logoGobierno" src="\Images\logoGobierno.png" alt="logoGobierno">
</div>
<div class="container">

    <div class="row justify-content-md-center">
     
        <div class="col-md-4">
           
            <div class="card borderlogin  shadow p-4 mb-4  animate__animated animate__bounceIn">
                <div class="card-header text-center">
                    <img id="logoMIRI" src="\Images\logoMIRI.png" alt="logoMIRI" />
                </div>
                <div class="card-body">
                    <form id="formLogin" action="form1" method="post">
                        <div class="form-group">
                            <input class="inputLogin" type="text" name="user" placeholder="  Usuario" />
                        </div>
                        <br />
                        <div class="form-group">
                            <input class="inputLogin" type="password" name="pass" placeholder="  Contraseña" />
                        </div>
                        <br />
                        <div class="form-group" id="formBtn">
                            <input id="btnIngresar" type="submit" name="submit" class="btn" value="INGRESAR" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
     
    </div>
</div>
